*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar {
    padding: 16px 0;
}

.navbar-nav {
    gap: 50px !important;
}

.navbar-nav .nav-link {
    font-size: 0.90rem;
    font-weight: 600;
    color: #112d4e !important;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }

.active .nav-link, .nav-link:hover {
    color:#ff8800 !important;
}

.header {
    background-color: #eaf2ff;
    padding-top: 8rem;
    padding-right: 0px;
    padding-bottom: 18rem;
    padding-left: 0px;
    position: relative;
}

.header .intro-title {
    font-size: 48px;
    color: #112d4e;
    font-weight: 800;
}

.header .intro-subtitle {
    color: #112d4e;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.4px;
}

.btn-orange {
    background-color: #ff8800;
    box-shadow: 0 0 70px rgba(255, 136, 0, 0.3);
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.37px;
    transition: 0.3s ease-in-out;
}

.btn-orange:hover {
    color: #fff;
    box-shadow: 0 24px 70px rgba(255, 136, 0, 0.3);
}

.arrow-down {
    position: relative;
    padding-right: 20px;
}

.arrow-down::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background: url(../img/arrow.png);
    background-position: right;
    background-repeat: no-repeat;
    right: -4px;
    top: -41px;
}

.btn-xlg {
    padding: 17px 37px;
}

.shape-one {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 0;
    bottom: -13rem;
    background: url(../img/shpe-1.png);
    background-position: left;
    background-repeat: no-repeat;
}

.shape-two {
    position: absolute;
    width: 500px;
    height: 500px;
    right: 0;
    top: 5rem;
    background: url(../img/figure.png);
    background-position: 17rem;
    background-repeat: no-repeat;
}

.headphone {
    position: relative;
}

.headphone img {
    position: absolute;
    max-width: 780px;
    left: -220px;
    top: -90px;
    animation: 
    headphone-air
    3.8s
    ease-out
    0s
    alternate
    infinite
    none
    running;
    transition: 0.3s ease-in-out;
    
}

@keyframes headphone-air {
    0% {
      top: -90px;
    }
    10% {
        top: -85px;
    }
    20% {
        top: -75px;
    }
    30% {
        top: -65px;
    }
    40% {
        top: -50px;
    }
    50% {
        top: -60px;
    }
    60% {
      top: -70px;
    }
    70% {
        top: -75px;
    }
    80% {
        top: -80px;
    }
    90% {
        top: -85px;
    }
    100% {
        top: -90px;
    }
  }

.book {
    position: relative;
    animation: book-air
    3.0s
    ease-out
    0s
    alternate
    infinite
    none
    running;
    transition: 0.2s ease-in-out;
}

@keyframes book-air {
    0% {
      top: -68px;
    }
    10% {
        top: -60px;
    }
    20% {
        top: -55px;
    }
    30% {
        top: -50px;
    }
    40% {
        top: -45px;
    }
    50% {
        top: -40px;
    }
    60% {
      top: -45px;
    }
    70% {
        top: -50px;
    }
    80% {
        top: -55px;
    }
    90% {
        top: -58px;
    }
    100% {
        top: -60px;
    }
  }

.book img {
    position: absolute;
    max-width: 900px;
    left: -1px;
    top: -68px;
}


.audio img {
    position: relative;
    animation: audio-zoom
    1.0s
    ease-out
    0s
    alternate
    infinite
    none
    running;
    transition: 0.2s ease-in-out;;
}

@keyframes audio-zoom {
    0% {
      max-width: 280px;
    }
    100% {
        max-width: 300px;
    }
}

.audio img {
    position: absolute;
    bottom: -413px;
}

.d-center {
    position: relative;
    display: block;
}

.form-card {
    width: 970px;
    box-shadow: -2px 15px 27px rgba(204, 204, 204, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 17px;
    margin-top: -50px;
}

.inner-line {
    border-radius: 10px;
    border: 3px solid #bfd7ff;
    padding: 15px;
    text-align: center;
}

.card-header {
    width: 550px;
    background-color: #fff;
    border: none;
}

.card-header h3 {
    font-size: 32px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: 0.32px;
    color: #263f5d;
}

.card-header h3 span {
    color: #ff8800;
    letter-spacing: 0.32px;
}

.form-control {
    border: none;
    border-radius: 5px;
    background-color: #eaf2ff;
    padding: 30px 15px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.form-row {
    gap: 10px;
}

.book-f {
    position: relative;
}

.book-f::before {
    position: absolute;
    content: "";
    width: 546px;
    height: 440px;
    top: -91px;
    left: -60px;
    z-index: -1;
    padding: 28px;
    background: url(../img/blub.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 34rem;
}

.book-f span {
    color: #112d4e;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.45px;
}

.book-f h3 {
    color: #112d4e;
    font-size: 30px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0.36px;
}

.mt-8 {
    margin-top: 8rem;
}

.block-desc {
    color: #133d6f;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.icon-box p {
    color: #133d6f;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 15px;
}

.rect {
    width: 100%;
    height: 291px;
    background-color: #2276ff;
}

.center img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10rem;
}

.block-title h2 {
    color: #112d4e;
    font-size: 36px;
    font-weight: 700;
}

.block-title hr {
    width: 50px;
    height: 5px;
    background-color: #dbe2ef;
    border: none;
}

.block-desc p {
    width: 570px;
    color: #535353;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.36px;
}

.block-desc, .block-title {
    margin-left: 24px;
}

.p-relative {
    position: relative;
}

.shape-left {
    background: url(../img/Layer_5.png);
    position: absolute;
    width: 500px;
    height: 500px;
    right: -381px;
    top: 5rem;
    background-position: 17rem;
    background-repeat: no-repeat;
}

.box-lg {
    position: relative;
    margin-top: 10rem;
    padding: 10rem 0;
    background-color: #fcfcfc;
}

.box-lg::before {
    position: absolute;
    content: "";
    width: 900px;
    height: 800px;
    background: url(../img/1.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: 0;
}

.box-lg span {
    color: #112d4e;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.18px;
}

.box-lg h3 {
    width: 598px;
    color: #112d4e;
    font-size: 36px;
    font-weight: 700;
    line-height: 50.02px;
    letter-spacing: 0.36px;
}

.card-md {
    width: 100%;
    box-shadow: 0 0 43px rgba(172, 172, 172, 0.08);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 40px 35px;
    height: 300px;
}

.card-md strong {
    color: #112d4e;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.99px;
    letter-spacing: 0.16px;
}

.card-md img {
    display: block;
    margin-bottom: 24px;
}

.card-md p {
    margin-top: 24px;
    color: #545353;
    font-size: 15px;
    font-weight: 400;
    line-height: 23.99px;
    letter-spacing: 0.38px;
}

.shape-right {
    background: url(../img/Layer_6.png);
    position: absolute;
    width: 900px;
    height: 800px;
    left: -271px;
    bottom: -10rem;
    background-position: 17rem;
    background-repeat: no-repeat;
}

.box-countdown {
    background: url(../img/screen-5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.py-8 {
    padding-top: 8rem;
}

.my-5 {
    margin: 5rem 0 !important;
}

.box-countdown h1 {
    color: #112d4e;
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.box-countdown .price-text {
    margin-top: -14px;
    padding-bottom: 4.30rem;
    color: #112d4e;
    font-size: 30px;
    font-weight: 600;
    line-height: 24px;
}

.box-countdown h3 span {
    font-weight: 700;
}

ul#timer {
    list-style: none;
    margin: 50px 0;
    padding: 0;
    display: block;
    text-align: center;
  }
  
  ul#timer li { display: inline-block; }
  
  ul#timer li span {
    color: #112d4e;
    font-size: 60px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 6px;
  }
  
  ul#timer li.seperator {
    color: transparent;
    padding-left: 125px;
  }
  
  ul#timer li p {
    color: #323232;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.35px;
  }
  
.gift-shape {
    position: relative;
}

.gift-shape::before {
    position: absolute;
    content: "";
    background: url(../img/gift.png);
    width: 416px;
    height: 150px;
    right: -211px;
    top: -150px;
    background-position: 17rem;
    background-repeat: no-repeat;
}

.gift-shape-0 {
    position: relative;
}
.gift-shape-0::before {
    position: absolute;
    content: "";
    background: url(../img/gift.png);
    position: absolute;
    width: 416px;
    height: 150px;
    right: -231px;
    top: -151px;
    background-position: 17rem;
    background-repeat: no-repeat;
  }

.form-row {
    padding: 20px 0;
}

.pb-8 {
    padding-bottom: 8rem;
}

.feedbacks {
    position: relative;
    margin-top: 150px;
}

.feedbacks::before {
    position: absolute;
    content: "";
    margin-top: 12rem;
    top: 13%;
    left: 25%;
    transform: translate(-50%, -50%);
    background: url(../img/map.png);
    width: 64%;
    height: 53%;
    opacity: 0.5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-position: top;
    z-index: -1;
}

.feedbacks::after {
    position: absolute;
    content: "";
    margin-top: 12rem;
    top: 10.5%;
    left: 34%;
    transform: translate(-50%, -50%);
    background: url(../img/7-layers.png);
    width: 29%;
    height: 48%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-position: top;
}

.feedbacks span {
    color: #112d4e;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.18px;
}

.feedbacks h3 {
    color: #112d4e;
    font-size: 36px;
    font-weight: 800;
    line-height: 48px;
}

.feedback-card {
    border: none;
    box-shadow: 0 0 87px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
}

.carousel-control-next, .carousel-control-prev {
    opacity: unset !important;
}

.text-block {
    width: 640px;
}

.text-block p {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.36px;
}

.text-block strong {
    display: block;
    color: #323232;
    font-size: 18px;
    font-weight: 700;
    line-height: 47.97px;
    letter-spacing: 0.45px;
    margin-bottom: -16px;
}

.text-block .job {
    color: #7d7c7c;
    font-size: 16px;
    font-weight: 500;
    line-height: 47.97px;
    letter-spacing: 0.4px;
}

.f-content {
    margin-top: -20px;
}

.btn-t-md {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.37px;
}

.social-banner {
    position: relative;
    margin-top: 18rem;
    border-radius: 10px;
    padding: 34px;
    background: url(../img/2-layers.png);
    background-position: left;
    background-size: cover;
    z-index: 999;
}

.social-banner::after {
    position: absolute;
    content: "";
    width: 293px;
    height: 215px;
    left: 40rem;
    top: -1rem;
    background: url(../img/books.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social-banner h3 {
    color: #fff;
}

.w-900 {
    width: 920px;
}

.partners h1 {
    color: #112d4e;
    font-size: 36px;
    font-weight: 800;
    padding: 17px 0;
}

.partner-card {
    margin-top: 7px;
    padding: 44px 27px;
    background-color: #eaf2ff;
}

.g-4 {
    gap: 30px;
}

.carousel-indicators {
    margin-left: auto;
    justify-content: left !important;
    padding-left: 20px;
}

.carousel-indicators li {
    background-color: #f80 !important;
}

.footer {
    margin-top: 8.8rem;
    background-color: #fcfcfc;
    padding: 45px 0;
}


/*
============= Responsive =============
*/

@media (max-width:640px){
    .navbar-nav {
        padding-top: 24px;
        padding-left: 28px;
        gap: 14px;
    }
    .shape-one, .shape-two, .gift-shape, .shape-right, .shape-left, .gift-shape-0 {
        display:none;
    }

    .intro-title {
        margin-top: -5rem;
        font-size: 27px !important;
    }

    .btn-orange {
        display: block;
        margin-top: 22px;
    }

    .book img {
        top: 5rem;
        max-width: 240px;
    }

    .headphone img {
        left: 80px;
        margin-top: 7rem;
        max-width: 300px;
    }

    .audio img {
        top: 14rem;
        left: 12rem;
        max-width: 140px !important;
        z-index: 1;
    }

    .form-card {
        width: 100%;
        margin-top: -5px;
    }

    .card-header {
        width: 100%;
    }

    .card-header h3 {
        font-size: 16px;
        line-height: 30px;
    }

    .inner-line {
        padding: 0;
    }

    .form-row {
        margin-top: -28px;
    }

    .input-block {
        display: block;
        max-width: 100%;
        flex: auto;
    }

    .block-desc {
        margin: 0;
        padding-bottom: 20px;
    }

    .sm {
        width: auto;
        margin-left: 40px;
    }

    .block-title {
        width: 100%;
        margin-top: 24px;
        margin-left: 0;
    }

    .block-desc p {
        width: 100% !important;
    }

    .box-lg::before {
        position: relative;
    }

    .box-lg h3 {
        width: 100%;
        /* margin-top: -58px; */
    }

    .book-f::before {
        position: relative;
    }

    .box-countdown h1 {
        font-size: 27px;
        text-align: center;
    }

    ul#timer {
        width: 100%;
    }

    ul#timer li {
        display: inline-block;
    }

    ul#timer li span {
        font-size: 37px;
    }

    ul#timer li.seperator {
        padding-left: 10px;
    }

    .price-text {
        line-height: 38px !important;
    }

    .feedbacks::after, .feedbacks::before {
        position: relative;
    }

    .feedbacks {
        margin-top: -25px;
    }

    .feedbacks h3 {
        width: 100%;
        font-size: 30px;
    }

    .text-block {
        width: 100%;
    }

    .w-900 {
        width: 100%;
    }

    .f-content {
        text-align: justify !important;
    }

    .social-banner {
        margin-top: 20px;
    }

    .social-banner::after {
        position: relative;
    }

    .mt-8 {
        margin-top: 10px;
    }

    .mr-8 {
        padding: 0;
        margin: 0;
    }

    .subscribe-box {
        margin: 0;
    }

    .mx-8 {
        margin: 0 !important;
        padding: 0 !important;
    }
    .headphone img {
        width: 200px; /* width of container */
        height: 200px; /* height of container */
        object-fit: cover;
        object-position: 20% 10px;
    }

    .audio img {
        top: 14rem;
        left: 12rem;
        max-width: 140px !important;
        z-index: 1;
        /* width: -150px; */
        height: 40px;
        object-fit: cover;
        object-position: 20% 10px;
    }

    .form-control {
        margin-top: 4px;
    }
}

@media (max-width:320px) {
    .form-control {
        margin-top: 4px;
    }
    .headphone img {
        width: 200px; /* width of container */
        height: 200px; /* height of container */
        object-fit: cover;
        object-position: 20% 10px;
    }

    .audio img {
        top: 14rem;
        left: 12rem;
        max-width: 140px !important;
        z-index: 1;
        /* width: -150px; */
        height: 40px;
        object-fit: cover;
        object-position: 20% 10px;
    }
}

@media (max-width:840px) {
    .footer-b p {
        display: block;
        padding-top: 24px;
    }
    .d-flex {
        display: block;
    }
    .mx-8 {
        margin: 0 !important;
        padding: 0 !important;
    }
    .mt-8 {
        margin-top: 10px;
    }

    .mr-8 {
        padding-left: 20px !important;
        margin: 0 !important;
    }

    .subscribe-box {
        margin-top: 0 !important;
    }
}

@media (min-width:640px) and (max-width:1440px) {
    body {
        overflow-x: hidden;
    }
    .footer {
        width: 100%;
    }

    .book img {
        position: relative;
        max-width: 380px;
        top: 2rem;
    }
    .w-900, .text-block {
        width: 100%;
    }
    .shape-two {
        display: none;
    }

    .block-desc, .block-title {
        margin-left: 0;
    }

    .box-lg h3 {
        position: absolute;
        margin-top: -24px;
    }

    .box-lg .row {
        margin-top: 7rem;
    }

    .shape-right {
        z-index: -1;
    }

    .shape-left {
        display: none;
    }
}

.footer h4 {
    margin-top: 4rem;
    color: #242424;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.footer p {
    color: #545454;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "O’zbekisto" */
    letter-spacing: 0.4px;
}

.subscribe-box {
    padding: 24px;
    color: #fff;
    background-color: #2276ff;
    margin-top: -45px;
    margin-right: -48px;
}

/* .subscribe-box::before {
    position: absolute;
    content: "";
    width: 855px;
    height: 296px;
    background-color: #2276ff;
    z-index: -1;
    left: 0rem;
    top: -2rem;
} */

.subscribe-box h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.6px;
}

.subscribe-box a {
    text-decoration: none;
    color: #112d4e;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.6px;
}

.footer-b {
    padding: 60px 0;
}

.footer-b p img {
    max-width: 30px;
    margin-right: 18px;
}

.footer p img:nth-child(4) {
    max-width: 40px;
}

.mx-8 {
   padding: 0 13rem;
}

.mr-8 {
    padding-left: 13rem;
}